{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "singleQuote": false,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-packagejson",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn", "cva"]
}
