@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-text: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-heading: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  @apply m-0 box-border  touch-manipulation  scroll-smooth  p-0  antialiased;
}

#__next {
  @apply flex min-h-screen flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}
